        /*body {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: auto;
        }*/

        /*body {
    margin: 0;
    padding: 0;
}
*/
        html,
        body {
            width: 100%;
            max-width: 100%;
            overflow-x: hidden;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100%;
        }

        /* Common layout container */
        .layout-width {
            width: 100%;
            max-width: 1200px;
            /* or 1100px or any width you prefer */
            margin: 0 auto;
            padding: 0 1rem;
            /* optional for some breathing room on small screens */
        }


        .nav {
            display: flex;
            justify-content: space-between;
            list-style: none;
            text-decoration: none;
        }

        li {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            list-style: none;
            margin: 0 2rem;
        }

        ul {
            display: flex;
            align-items: center;
        }

        a {
            text-decoration: none;
        }

        .banner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5rem auto;
        }


        .banner-title {
            font-size: 3.5rem;
        }

        .banner-para {
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.411);
        }

        span {
            color: red;
        }

        .banner-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            /*border: 3px solid red;*/
            margin: 0 0;
            height: auto;
            width: 30rem;
        }